#nav {
  background-color: #1e2120;
  border-bottom: 3px inset #04ca9c;
  font-family: 'Pacifico', cursive;
  color: white;
}
/*nav*/
nav li {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-flex;
  height: 100%;
  list-style-type: none;
  display: inline;
  font-size: 13px;
}
nav .toggle{
  background: white;
  color: black;
  font-size: 20px;
}
nav .navbar-brand {
  font-family: 'Vibur', cursive;
  color: white;
  font-size: 30px;
}


.footer_container{
  background-color: black;
  padding: 20px;
  color: white;
}
